/* Small screen style */
  .header {
    padding-top:10vw;
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d25e2d;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  
  }
  
  header>div>h2 {
    margin: 0;
    padding-bottom: 1rem;
    color: #f4f1ec;
  }

/* Desktop style modifications */
@media (min-width: 1024px) {

  .header {
    margin-top: 7em;
    margin-left: 1em;
    margin-right: 1vw;
    height: 350px;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: #d25e2d;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  }
}