
.tweet-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

#tweet-submit {
  font-family: 'Bungee', cursive;
  background-color: #e46842;
  color: #FFFFFF;
  margin: 0;
  border: none;
}

.text-input{
  border-bottom: solid 3px #545149;
  font-weight: 300;
}

#tweet-text {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #545149;
  font-weight: 600;
}

.counter {
  font-family: 'Bungee', cursive;
}
.red-text {
  color: red;
}

label {
  padding-bottom: 4px
}

.new-tweet {
  margin-top: 1%;
}

.error-flex {
  display: flex;
  justify-content: space-evenly;
  border: solid 3px red;
  color: red; 
}

p {
  word-wrap: break-word;
}