
.tweet-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

#tag {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  margin: 0;
  border: none;
}

.text-input{
  border-bottom: solid 3px #545149;
  font-weight: 300;
}

#tweet-text {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #545149;
  font-weight: 600;
}

.counter {
  font-family: 'Bungee', cursive;
}
.red-text {
  color: red;
}

label {
  padding-bottom: 4px
}